.card {
  display: block;
  background: var(--color-white);
  width: 100%;
  box-shadow: 0 0.5rem 1rem -0.2rem var(--color-card-shadow);
  transition: all 0.35s ease;
  padding: 1rem;
}

.card img {
  width: 100%;
  height: auto;
}

.card:hover {
  box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(var(--color-card-shadow), 0.5);
}

.cardContent {
  padding: 3rem 1.5rem;
  border: 0.25rem solid var(--color-black);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.cardContent h3 {
  font-weight: 400;
  font-size: 1.6rem;
}

.cardContent h4 {
  font-weight: 500;
  font-size: 1.2rem;
}

.info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}