.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 6rem 0;
  color: var(--color-black);
}

.container > * {
  max-width: var(--max-width);
  margin: 0 auto;
}

.mainIntro {
  padding: 4rem 0;
  font-size: 1.2rem;
  line-height: 1.5;
}
.mainIntro > p:not(:first-child) {
  margin-top: 1rem;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 6rem 1rem 0 1rem;
}

.mainIntro a {
  color: var(--color-light-black);
}

.mainIntro a:hover, .mainIntro a:focus {
  color: var(--color-black);
  border-bottom: 1px solid var(--color-black);
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}